*{
	margin: 0;
	padding: 10;
	font-family: Verdana;
	border:0;
}


.navbar{
	float: right;}


.navbar{
	margin: auto;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;

}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #1697e2;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: 0.4s;
}
.navbar ul li:hover::after{
	width: 100%;
}
